absl-py
bottle
tensorflow 
aiohttp 
aiofiles
psutil
wave
moviepy
speechrecognition
pydub
pytesseract
transformers
tensorflow-text
pytube
TikTokApi
requests
opencv-python
gunicorn
Pillow
tesseract
torch
numpy
speechrecognition
pydub
moviepy
pytesseract
tox